* {
    box-sizing: border-box;
    margin: 0%;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  @media screen and (max-width:900px) {
  .nav a{
        width:100%;
      
       }
  .main img{
              background-image: url(/imge/mobile-bg.png);
              
       }
  .main-2 img{
    background-image: url(/imge/footer-mobile-bg.png);
  }
  .text{
    margin-top: 2%;
  }

 }

  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  .main{
    position:absolute;
    
    }

.container{
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.main img{
    height: 800px;
    width: 100%;
     
     
}
.name{
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    font-size: 40px;
    padding: 2%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav{
     
    padding: 1%;
    text-align: center;
    justify-content: center;
    
}
.nav a {
  float: left;
  display: block;
  color:aliceblue;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  
}
.nav a:hover{
   color: coral;
}
.heding{
  padding:2% ;
  text-align: center;
  display: block;
  font-size: 90px;
  color: aliceblue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.heding span{
  font-size: 67px;
}
.con p{ 
  font-size: 23px;
  color: aliceblue;
  text-align: center;
 align-items: center;

}
.center{
  font-size: 30px;
  text-align: center;
  align-items: center;
  padding: 3%;
  
}
.center button{
  background-color: #122e81; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
   cursor: pointer;
   border-radius: 20px;
}
.text{
  padding:25% 5% 5%;
  margin-top: 5%;
  background-color:white;
   
}
.world span{ 
 font-size: 45px;
  text-align: start;
  font-family: fantasy;
}
.content P{
  font-size:25px ;
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
}
.SM{
  padding:5% 0;
   margin-top: 30%;
    
   
}
.about{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}
.about span{
  font-size: 55px;
  margin: 5px 0%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.pic img{
  height: 100%;
  width: 100%;
  margin-top: 5%;
}
.pic-2 img{
  height: 1000px;
  width: 100%;
}

.about p{
  font-size: 24px;
 

}
.about button{
  margin: 3% 0%;
    background-color: #122e81; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
     cursor: pointer;
     border-radius: 20px;
  }
  .main-2{
    position: absolute;

   }
   .footer-2{
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
     
   }
.main-2 img{
    height: 600px;
    width: 100%;
   }
.footer-2 {
    margin-top: 25%;
   }
 .footer-2 a:hover{
    color: coral;
  }
  .footer-2 a{
      text-decoration: none;
    font-size: 25px;
    color: aliceblue;
   }
.icon img{
  height: 30px;
}
button:hover{
  background-color: black;
}
